.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  background-color: gray;
}

.nav a {
  color: white;
}


.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messageForm{
  margin: auto;
  width: 300px;
}
.messageFormProfile{
  margin: 10px auto;
  width: 300px;
}


/* .profile-list {
  margin: 0 0 0 250;
  max-width: 900px;
  border: solid 0.5px;
  border-color: #023047;
  display: flex;
  justify-content: space-around;
  max-width: 900px;
} */

.users-container {
  background-color: #023047; 
  color: #023047;
  margin-left: 240px;
  padding: 50px;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

body {
  color: #ffb703;
}

/* .profile-list {
  
} */

.card-img-top {
  border: solid 0.5px;
  border-color: #8ecae6;
  object-fit: cover;
}

.card-body {
  border: solid 0.5px;
  border-color: #8ecae6;
  color: #023047;
  background-color: #c1e0ee;
}


h3 {
  color: #023047;
}

a {
  color: #023047;
}

.card-text {
  color: #023047;
}

.button {
  color: #023047;
}

.card {
  background-color: #ffb703;
}

Card.Img {
  max-width: 100px;
}
  
.editFormDiv{
  margin: auto;
  width: 400px;
}

.signupDiv{
  margin: auto;
  width: 300px;
}

.loginDiv{
  margin: auto;
  width: 300px;
}

.messagesInbox{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.profile-box{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  margin: auto;
 
}
.profile-detail{
  text-align: left;
}

/* .messagesCenter{
  margin: auto;
  width: 300px;
} */

/* .text-left{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
  align-content: stretch;
  width: 300px;
} */
