.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  background-color: gray;
}

.nav a {
  color: white;
}


.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messageBox{
  margin: auto;
  width: 300px;
}

/* .profile-list {
  margin: 0 0 0 250;
  max-width: 900px;
  border: solid 0.5px;
  border-color: #023047;
  display: flex;
  justify-content: space-around;
  max-width: 900px;
} */

.users-container {
  margin-left: 250px;
  padding: 50px;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

body {
  color: #023047;
}

div.profile-list {
  
}

.card-img-top {
  border: solid 0.5px;
  border-color: #8ecae6;
  object-fit: cover;
}

.card-body {
  border: solid 0.5px;
  border-color: #8ecae6;
  color: #023047;
}

.div.card-body {

}

h3 {
  color: #023047;
}

.p {
  color: #023047;
}

.p.card-text {
  color: #023047;
}

.a.button {
  color: #023047;
}

.button {
  background-color: #ff9900;
}

.card {
  background-color: #00c0cc;
}

Card.Img {
  max-width: 100px;
}
  
.editFormDiv{
  margin: auto;
  width: 400px;
}

.signupDiv{
  margin: auto;
  width: 300px;
}

